@model pdc.Models.Lichsu.Lichsu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Lichsu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thitruong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thitruong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mapallet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mapallet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mabodydb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mabodydb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mabodycheck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mabodycheck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaygio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaygio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nguoithaotac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguoithaotac)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
