@model IEnumerable<pdc.Models.Lichsu.Lichsu>

@{
    ViewData["Active"] = "3";

    ViewData["Title"] = "Kiểm tra lịch sử";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        vertical-align: middle;
    }

    .table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
        vertical-align: middle;
    }
</style>


@section Scripts{

    <script src="~/tablesort/jquery.datatables.js"></script>
    <script src="~/tablesort/datatables.rowgroup.js"></script>
    <link href="~/tablesort/jquery.datatables.css" rel="stylesheet" />
    <link href="~/tablesort/rowgroup.datatables.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            var collapsedGroups = {}; // Đối tượng để theo dõi trạng thái collapsed của các nhóm
            var table = $('#example1').DataTable({
                orderFixed: [5, 'desc'],
                pageLength: 1000,
                lengthChange: false,

                rowGroup: {
                    dataSrc: 2,
                    startRender: function (rows, group) {
                        var collapsed = !!collapsedGroups[group];

                        rows.nodes().each(function (r) {
                            r.style.display = collapsed ? 'none' : '';
                        });

                        return $('<tr/>')
                            .append('<td colspan="8">' + 'Mã pallet : ' + group + ' (' + rows.count() + ' pcs' + ')</td>')
                            .attr('data-name', group)
                            .toggleClass('collapsed', collapsed);
                    }
                }
            });         
  
            $('#example1 tbody').on('click', 'tr.group-start', function () {
                var name = $(this).data('name');
                collapsedGroups[name] = !collapsedGroups[name]; // Đảo trạng thái collapsed khi người dùng ấn vào
                table.draw(false);
            });

            $(function () {
                //Date picker
                $('#ngaybatdau').datetimepicker({
                    format: 'yyyy/MM/DD'
                });
                //Date picker
                $('#ngayketthuc').datetimepicker({
                    format: 'yyyy/MM/DD'
                });
            })
        })
    </script>
}


    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    Check Pallet Software <small>Version 1.0</small>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Kiểm tra lịch sử</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form asp-controller="Lichsus" asp-action="Index" method="get">
                        <div id="loctheongay" class="card card-lightblue">
                            <div class="card-header">
                                <h3 class="card-title"> <i class="fa fa-calendar" aria-hidden="true"> </i> Lọc dữ liệu theo ngày</h3>
                                <div id="chucnang1" class="card-tools" hidden>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label" style="text-align:center">Từ ngày</label>
                                    <div class="col-sm-7">
                                        <div class="input-group date" id="ngaybatdau" data-target-input="nearest">
                                            <input type="text" name="ngaybatdau" class="form-control datetimepicker-input" data-target="#ngaybatdau" placeholder="Chọn ngày bắt đầu..." autocomplete="off" required>
                                            <div class="input-group-append" data-target="#ngaybatdau" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label" style="text-align:center">Đến hết ngày</label>
                                    <div class="col-sm-7">
                                        <div class="input-group date" id="ngayketthuc" data-target-input="nearest">
                                            <input type="text" name="ngayketthuc" class="form-control datetimepicker-input" data-target="#ngayketthuc" placeholder="Chọn ngày kết thúc..." autocomplete="off" required>
                                            <div class="input-group-append" data-target="#ngayketthuc" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-success btn-block"> <i class="fa fa-search"></i> Lọc dữ liệu</button>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <form asp-controller="Lichsus" asp-action="Index" method="get">
                        <div id="loctheoma" class="card card-olive">
                            <div class="card-header">
                                <h3 class="card-title"> <i class="fa fa-barcode" aria-hidden="true"> </i> Lọc dữ liệu theo Mã pallet hoặc Mã body</h3>
                                <div id="chucnang2" class="card-tools" hidden>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align:center">Mã pallet</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="mapallet" name="mapallet" class="form-control" placeholder="Nhập mã pallet cần tìm kiếm...">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align:center">Mã body</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="mabody" name="mabody" class="form-control" placeholder="Nhập mã body cần tìm kiếm...">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-success btn-block"> <i class="fa fa-search"></i> Lọc dữ liệu</button>

                            </div>
                        </div>
                    </form>
                </div>
                @*
            <div class="col-12">
            <partial name="_Alert" />
            </div>
            *@
            </div>

        @if (Model != null)
        {
            <script>
                $("#loctheongay").addClass(" collapsed-card");
                $("#chucnang1").removeAttr("hidden");

                $("#loctheoma").addClass(" collapsed-card");
                $("#chucnang2").removeAttr("hidden");
            </script>


            <div class="row">
                <div class="col-12">
                    <div class="card card-navy shadow ">
                        <div class="card-header">
                            @if (TempData["chedo"].ToString() == "ngay")
                            {
                                <h3 class="card-title">
                                    <i class="fa fa-bars"></i>
                                    Danh sách dữ liệu từ ngày <badge class="badge badge-warning">@TempData["ngaybatdau"]</badge> tới ngày <badge class="badge badge-warning">@TempData["ngayketthuc"]</badge>
                                </h3>
                            }
                            @if (TempData["chedo"].ToString() == "mapl")
                            {
                                <h3 class="card-title">
                                    <i class="fa fa-bars"></i>
                                    Danh sách dữ liệu có Mã pallet : <badge class="badge badge-warning">@TempData["mapallet"]</badge>
                                </h3>
                            }
                            @if (TempData["chedo"].ToString() == "mabd")
                            {
                                <h3 class="card-title">
                                    <i class="fa fa-bars"></i>
                                    Danh sách dữ liệu có Mã body : <badge class="badge badge-warning">@TempData["mabody"]</badge>
                                </h3>
                            }
                            @if (TempData["chedo"].ToString() == "ma2")
                            {
                                <h3 class="card-title">
                                    <i class="fa fa-bars"></i>
                                    Danh sách dữ liệu có Mã pallet : <badge class="badge badge-warning">@TempData["mapallet"]</badge> và Mã body : <badge class="badge badge-warning">@TempData["mabody"]</badge>
                                </h3>
                            }

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-gradient-secondary"> L1231</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Số lượng</span>
                                            <span class="info-box-number">@TempData["sl_l1231"].ToString() pcs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-gradient-secondary"> T527</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Số lượng</span>
                                            <span class="info-box-number">@TempData["sl_t527"].ToString() pcs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-gradient-secondary"> T541</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Số lượng</span>
                                            <span class="info-box-number">@TempData["sl_t541"].ToString() pcs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-gradient-secondary"> T543</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Số lượng</span>
                                            <span class="info-box-number">@TempData["sl_t543"].ToString() pcs</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="example1" class="table table-bordered table-striped bg-white">
                                <thead>
                                    <tr style="text-align:center ; font-size:small">
                                        <th>
                                            Model
                                        </th>
                                        <th>
                                            Thị trường
                                        </th>
                                        <th>
                                            Mã pallet
                                        </th>
                                        <th>
                                            Mã body server
                                        </th>
                                        <th>
                                            Mã body kiểm tra
                                        </th>
                                        <th>
                                            Ngày giờ
                                        </th>
                                        <th class="col-2">
                                            Người thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align:center;font-size:small">
                                                <b>@Html.DisplayFor(modelItem => item.Model)</b>
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Thitruong)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Mapallet)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Mabodydb)
                                            </td>
                                            <td style="font-size:small">
                                                @Html.DisplayFor(modelItem => item.Mabodycheck)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Ngaygio)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Nguoithaotac)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        }
        @*      <div class="col-12">
        <partial name="_Alert" />
        </div>*@
    </div>
</div>





