@model IEnumerable<pdc.Models.Lichsu.Lichsu>
@{
    ViewData["Title"] = "Thống kê trong ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "2";

}
@{
    var tenmodel = Json.Serialize(ViewBag.tenmodel);
    var sl = Json.Serialize(ViewBag.soluongsuco);
    var tile = Json.Serialize(ViewBag.tile);
}
<style>
    .table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        vertical-align: middle;
    }

    .table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
        vertical-align: middle;
    }
</style>
@section Scripts{
    <script src="~/adminlte-master/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminlte-master/dist/js/adminlte.js"></script>
    <script src="~/adminlte-master/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte-master/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte-master/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte-master/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte-master/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminlte-master/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminlte-master/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminlte-master/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminlte-master/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminlte-master/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminlte-master/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminlte-master/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/adminlte-master/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/cdn.jsdelivr.net_npm_chart.js@3.0.0_dist_chart.min.js"></script>
    <script src="~/cdnjs.cloudflare.com_ajax_libs_chartjs-plugin-datalabels_2.2.0_chartjs-plugin-datalabels.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["excel", "print", "colvis"],
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        })
    </script>
    <script>
        Chart.register(ChartDataLabels); // Enable plugin
        Chart.defaults.set('plugins.datalabels', {
            color: 'black',
            backgroundColor: 'hsla(70 100% 50% / 0.7)',
            font: {
                size: 12,
            },
            display: true,

        });
    </script>
    <script>
        var model = @Html.Raw(tenmodel);
        var soluong = @Html.Raw(sl);
        var tile = @Html.Raw(tile);
        var ctx = document.getElementById('bieudo').getContext('2d');
        var myChart = new Chart(ctx, {
            data:
            {
                datasets:
                    [
                        {
                            type: 'bar',
                            label: 'Số lượng body đã kiểm tra',
                            data: soluong,
                            yAxisID: 'A',
                            backgroundColor: 'rgba(60,141,188,0.9)'
                        }
                    ],
                labels: model
            },
            options:
            {
                responsive: true,
                scales:
                {
                    A:
                    {
                        stacked: true,
                        type: 'linear',
                        position: 'left',
                        ticks: { beginAtZero: true, stepSize: 1 },
                    },
                    x: { ticks: { beginAtZero: true } }
                },
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Biểu đồ số lượng mã body đã kiểm tra trong hôm nay'
                    }
                }
            }
        });
    </script>
}
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    Check Pallet Software <small>Version 1.0</small>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Thống kê trong ngày</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="content">
        <div class="container">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-lg-7">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <canvas class="col-12" id="bieudo"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                   
                        <div class="small-box bg-olive shadow">
                            <div class="inner">
                                <h3>@ViewBag.total <small>pcs</small></h3>
                                <p>Tổng số lượng</p>                                
                            </div>
                            <div class="icon">
                                <i class="fas fa-database"></i>
                            </div>
                        </div>
               
                </div>
                <div class="col-12">
                    <div class="card card-navy ">
                        <div class="card-header">
                            <h3 class="card-title"> <i class="fa fa-bars"></i>  Danh sách dữ liệu trong ngày hôm nay : <badge class="badge badge-warning">@DateTime.Now.ToString("yyyy/MM/dd")</badge> </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-gradient-secondary"> L1231</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Số lượng</span>
                                            <span class="info-box-number">@TempData["sl_l1231"].ToString() pcs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-gradient-secondary"> T527</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Số lượng</span>
                                            <span class="info-box-number">@TempData["sl_t527"].ToString() pcs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-gradient-secondary"> T541</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Số lượng</span>
                                            <span class="info-box-number">@TempData["sl_t541"].ToString() pcs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-gradient-secondary"> T543</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Số lượng</span>
                                            <span class="info-box-number">@TempData["sl_t543"].ToString() pcs</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="example1" class="table table-bordered table-striped bg-white">
                                <thead>
                                    <tr style="text-align:center ; font-size:small">
                                        <th>
                                            Model
                                        </th>
                                        <th>
                                            Thị trường
                                        </th>
                                        <th>
                                            Mã pallet
                                        </th>
                                        <th>
                                            Mã body server
                                        </th>
                                        <th>
                                            Mã body kiểm tra
                                        </th>
                                        <th>
                                            Ngày giờ
                                        </th>
                                        <th class="col-2">
                                            Người thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align:center;font-size:small">
                                                <b>@Html.DisplayFor(modelItem => item.Model)</b>
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Thitruong)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Mapallet)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Mabodydb)
                                            </td>
                                            <td style="font-size:small">
                                                @Html.DisplayFor(modelItem => item.Mabodycheck)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Ngaygio)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Nguoithaotac)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>





