@model IEnumerable<pdc.Models.Lichsu.Lichsu>
@{
    ViewData["Title"] = "Thống kê trong ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "2";

}
@{
    var tenmodel = Json.Serialize(ViewBag.tenmodel);
    var sl = Json.Serialize(ViewBag.soluongsuco);
    var tile = Json.Serialize(ViewBag.tile);
}
<style>
    .table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        vertical-align: middle;
    }

    .table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
        vertical-align: middle;
    }
</style>

@section Scripts{

@*    <link href="~/datatable/datatables.min.css" rel="stylesheet" />
    <script src="~/datatable/datatables.min.js"></script>
    <script src="~/datatable/datatables.rowsgroup.js"></script>*@

    <script src="~/tablesort/jquery.datatables.js"></script>
    <script src="~/tablesort/datatables.rowgroup.js"></script>
    <link href="~/tablesort/jquery.datatables.css" rel="stylesheet" />
    <link href="~/tablesort/rowgroup.datatables.css" rel="stylesheet" />

    <script src="~/adminlte-master/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/cdn.jsdelivr.net_npm_chart.js@3.0.0_dist_chart.min.js"></script>
    <script src="~/cdnjs.cloudflare.com_ajax_libs_chartjs-plugin-datalabels_2.2.0_chartjs-plugin-datalabels.min.js"></script>
    <script>
        $(document).ready(function () {
            var collapsedGroups = {}; // Đối tượng để theo dõi trạng thái collapsed của các nhóm
            var table = $('#example1').DataTable({
                orderFixed: [5, 'desc'],
                pageLength: 1000,
                lengthChange: false,

                rowGroup: {
                    dataSrc: 2,
                    startRender: function (rows, group) {
                        var collapsed = !!collapsedGroups[group];

                        rows.nodes().each(function (r) {
                            r.style.display = collapsed ? 'none' : '';
                        });

                        return $('<tr/>')
                            .append('<td colspan="8">' + 'Mã pallet : ' + group + ' (' + rows.count() + ' pcs' + ')</td>')
                            .attr('data-name', group)
                            .toggleClass('collapsed', collapsed);
                    }
                }
            });         
  
            $('#example1 tbody').on('click', 'tr.group-start', function () {
                var name = $(this).data('name');
                collapsedGroups[name] = !collapsedGroups[name]; // Đảo trạng thái collapsed khi người dùng ấn vào
                table.draw(false);
            });

            $(".btnXemchitiet").click(function () {
                var model = $(this).data("model");
                $.ajax({
                    url: "/lichsus/GetLichsuModel",
                    type: "GET",
                    data: {
                        model: model,
                    },
                    success: function (data) {
                        $("#modelInfo_Xemchitietlichsu").html(data);
                        $("#modalXemchitietlichsu").modal("show");
                    },
                });
            })
        })
    </script>
    <script>
        Chart.register(ChartDataLabels); // Enable plugin
        Chart.defaults.set('plugins.datalabels', {
            color: 'black',
            backgroundColor: 'hsla(70 100% 50% / 0.7)',
            font: {
                size: 12,
            },
            display: true,

        });
    </script>
    <script>
        var model = @Html.Raw(tenmodel);
        var soluong = @Html.Raw(sl);
        var tile = @Html.Raw(tile);
        var ctx = document.getElementById('bieudo').getContext('2d');
        var myChart = new Chart(ctx, {
            data:
            {
                datasets:
                    [
                        {
                            type: 'bar',
                            label: 'Số lượng body đã kiểm tra',
                            data: soluong,
                            yAxisID: 'A',
                            backgroundColor: 'rgba(60,141,188,0.9)'
                        }
                    ],
                labels: model
            },
            options:
            {
                responsive: true,
                scales:
                {
                    A:
                    {
                        stacked: true,
                        type: 'linear',
                        position: 'left',
                        ticks: { beginAtZero: true, stepSize: 1 },
                    },
                    x: { ticks: { beginAtZero: true } }
                },
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Biểu đồ số lượng mã body đã kiểm tra trong hôm nay'
                    }
                }
            }
        });
    </script>
}
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    Check Pallet Software <small>Version 1.0</small>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Thống kê trong ngày</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="content">
        <div class="container">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-lg-8">
                    <div class="card ">
                        <div class="card-body">
                            <div class="row">
                                <canvas class="col-12" id="bieudo"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="small-box bg-white ">
                        <div class="inner">
                            <h3>@ViewBag.total <small>pcs</small></h3>
                            <p>Tổng số lượng đã kiểm tra</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-database"></i>
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="card card-default ">
                        <div class="card-header">
                            <h3 class="card-title"> <i class="fa fa-bars"></i>  Danh sách dữ liệu trong ngày hôm nay : <badge class="badge badge-warning">@DateTime.Now.ToString("yyyy/MM/dd")</badge> </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-secondary"> L1231</span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">@TempData["sl_l1231"].ToString() pcs</span>
                                            <a class="btnXemchitiet" href="#" data-model="L1231">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-secondary"> T527</span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">@TempData["sl_t527"].ToString() pcs</span>
                                            <a class="btnXemchitiet" href="#" data-model="T527">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-secondary"> T541</span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">@TempData["sl_t541"].ToString() pcs</span>
                                            <a class="btnXemchitiet" href="#" data-model="T541">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span style="font-size:small" class="info-box-icon bg-secondary"> T543</span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">@TempData["sl_t543"].ToString() pcs</span>
                                            <a class="btnXemchitiet" href="#" data-model="T543">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="example1" class="table table-bordered   bg-white ">
                                <thead>
                                    <tr style="text-align:center ; font-size:small">
                                        <th>
                                            Model
                                        </th>
                                        <th>
                                            Thị trường
                                        </th>
                                        <th>
                                            Mã pallet
                                        </th>
                                        <th>
                                            Mã body server
                                        </th>
                                        <th>
                                            Mã body kiểm tra
                                        </th>
                                        <th>
                                            Ngày giờ
                                        </th>
                                        <th class="col-2">
                                            Người thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align:center;font-size:small">
                                                <b>@Html.DisplayFor(modelItem => item.Model)</b>
                                            </td>
                                            <td style="text-align:center;font-size:small;white-space: nowrap">
                                                @Html.DisplayFor(modelItem => item.Thitruong)
                                            </td>
                                            <td style="text-align:center;font-size:small;white-space: nowrap">
                                                @Html.DisplayFor(modelItem => item.Mapallet)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Mabodydb)
                                            </td>
                                            <td style="font-size:small">
                                                @Html.DisplayFor(modelItem => item.Mabodycheck)
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @item.Ngaygio.ToString("yyyy/MM/dd HH:mm tt")
                                            </td>
                                            <td style="text-align:center;font-size:small">
                                                @Html.DisplayFor(modelItem => item.Nguoithaotac)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="modalXemchitietlichsu" style="padding-right:0px">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div id="modelInfo_Xemchitietlichsu">
                <div class="overlay">
                    <i class="fas fa-2x fa-sync fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>



