@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var hoten = HttpContextAccessor.HttpContext.Session.GetString("user");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    @*    <!-- Font Awesome Icons -->
    <link href="~/adminlte-master/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />*@
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte-master/dist/css/adminlte.min.css">
    <script src="~/adminlte-master/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte-master/dist/js/adminlte.min.js"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/adminlte-master/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte-master/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte-master/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte-master/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <style>
        .body > div:nth-child(1) > nav:nth-child(1) > div:nth-child(1) > div:nth-child(3) > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1){
            margin-top: 10px;
        }
    </style>
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand">
                    <img src="~/cube_78954.ico" alt="AdminLTE Logo" class="brand-image img-circle " style="opacity: .8">
                    <span class="brand-text ">Check Pallet</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav ">
                        @if (hoten != "Administrator")
                        {
                            <li class="nav-item">
                                <a id="1" asp-action="index" asp-controller="home" style="color:white" class="btn bg-gradient-purple navbar-btn nav-link">Bắt đầu kiểm tra</a>
                            </li>

                          
                        }
                        else
                        {
                            <li class="nav-item">
                                <button asp-action="index" asp-controller="home" style="color:white" class="btn btn-secondary navbar-btn nav-link" disabled><i class="fa fa-user"></i> ADMIN MODE</button>
                            </li>
                        }
                        <li class="nav-item">
                            <a id="2" asp-action="Thongketrongngay" asp-controller="lichsus" class="nav-link">Thống kê trong ngày</a>
                        </li>
                        <li class="nav-item">
                            <a id="3" asp-action="index" asp-controller="lichsus" class="nav-link">Lịch sử</a>
                        </li>

             
                        @if (hoten == "Administrator")
                        {
                            <li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Quản lý </a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a asp-action="create" asp-controller="users" class="dropdown-item">Thêm tài khoản </a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a asp-action="index" asp-controller="users" class="dropdown-item">Danh sách tài khoản </a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a id="5" asp-action="caidat" asp-controller="users" class="nav-link"><i class="fa fa-cog"></i> Cài đặt</a>
                            </li>
                        }


                    </ul>
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                        <!-- Messages Dropdown Menu -->
                        <li class="nav-item dropdown">
                            <a id="6" class="nav-link" data-toggle="dropdown" href="#">
                                <small>Người vận hành:</small> @hoten.ToString()
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                @if (hoten != "Administrator")
                                {
                                    @using (Html.BeginForm("Details", "Users", FormMethod.Get))
                                    {
                                        <button class="dropdown-item" style="text-align:center" type="submit" value="@hoten.ToString()" name="hoten"><i class="fa fa-user-circle"></i> Thông tin tài khoản</button>
                                    }
                                }
                                else
                                {
                                    <button class="dropdown-item" style="text-align:center" disabled><i class="fa fa-user-circle"></i> Thông tin tài khoản</button>

                                }
                                <div class="dropdown-divider"></div>
                                <a href="/" class="dropdown-item dropdown-footer bg-danger">Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                SANG <i class=""></i>
            </div>
            <!-- Default to the left -->
            <strong>&copy; 2023</strong> Canon Electronics VietNam
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", required: false)

    @if (ViewData["Active"] != null)
    {
        <script type="text/javascript">document.getElementById("@ViewData["Active"]").classList.add("active")</script>
    }
</body>
</html>
