@{
    ViewData["Title"] = "Đang kiểm tra...";
    ViewData["Active"] = "1";

}

@model danhsachbody
@{
   
    string ten_model = ViewBag.tenmodel;
    string ten_thitruong = ViewBag.thitruong_hienthi;
    string ten_ma_pallet = ViewBag.mapallet_hienthi;
    string mapallet__hienthi = ViewBag.mapallet_hienthi;
    string thitruong_hienthi = ViewBag.thitruong_hienthi;
}

@section Scripts{
    <script>
        document.addEventListener('keydown', (e) => {
            e = e || window.event;
            if (e.keyCode == 116) {
                e.preventDefault();
            }
        });
    </script>
    <script>
        $(window).bind('beforeunload', function () {
            return "Do you want to exit this page?";
        });
    </script>
    <script>
        var rowCount = $("#tableData > tbody").children().length;
        $("#sodong").append(rowCount);
        var checkok = $("#checkok");
        var slok = 0;
        checkok.text(slok + "/" + rowCount);
        $("#sobody").keydown(function (e) {
            if (e.keyCode === 13) {
                event.preventDefault(); // Đừng thực hiện hành động mặc định khi nhấn Enter
                var inputValue = $(this).val().toLowerCase(); //lấy giá trị của Input

                if (inputValue === "9999") {
                    var inputList = [];
                    var listbody = [];
                    var tableRows = $('table tr');
                    tableRows.each(function () {
                        var bodydb = $(this).find('td:eq(0)').text().toUpperCase();
                        var bodycheck = $(this).find('input').val().toUpperCase();
                        inputList.push({
                            model: "@ten_model",
                            thitruong: "@ten_thitruong",
                            mapallet: "@ten_ma_pallet",
                            bodydb: bodydb,
                            bodycheck: bodycheck
                        });
                    });
                    console.log(inputList);

                    if (slok == rowCount) {
                        $.ajax({
                            url: "/Home/luu",
                            type: "POST",
                            data: JSON.stringify(inputList),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (result) {
                                console.log(result);
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                            }
                        });
                        var modal = $('#modal-ok');
                        modal.modal('show');
                        var countdown = 5;
                        $('#countdown').text(countdown);
                        var interval = setInterval(function () {
                            countdown--;
                            $('#countdown').text(countdown);
                            if (countdown == 0) {
                                clearInterval(interval);
                                modal.modal('hide');
                                $("#sobody").remove();
                                $("#labelmabody").remove();
                                var labelTag = document.createElement('label');
                                labelTag.className = " col-12 col-form-label";
                                labelTag.innerHTML = "Kiểm tra kết thúc!";
                                $('.hienthi').prepend(labelTag);
                                $("#thenhapdulieu").removeClass(" bg-gradient-purple");
                                $("#thenhapdulieu").addClass(" bg-gradient-success");
                            }
                        }, 1000);
                    }
                    else {
                        $.ajax({
                            url: "/Home/luuNG",
                            type: "POST",
                            data: JSON.stringify(inputList),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (result) {
                                console.log(result);
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                            }
                        });
                        var modal = $('#modal-ng');
                        modal.modal('show');
                        $("#sobody").val("");
                    }
                }
                else {
                    var tableRows = $('table tr');
                    var isMatch = false;
                    tableRows.each(function () {
                        var rowValue = $(this).find('td:eq(0)').text().toLowerCase();
                        if (inputValue.indexOf(rowValue) > -1) {
                            var checktrung = $(this).find('input').val().toLowerCase();
                            if (checktrung.length > 3) {
                            }
                            else {
                                //$(this).css('background-color', '#228B22 ');
                                isMatch = true;
                                $(this).find('input').val(inputValue.toUpperCase());
                                $(this).find('input').css('background-color', '#228B22 ');
                                $(this).find('input').css("color", "white");

                                slok++;
                                checkok.text(slok + "/" + rowCount);
                                if (slok == rowCount) {
                                    $("#thongbao").removeClass(" bg-gradient-warning");
                                    $("#thongbao").addClass(" bg-gradient-success");
                                }
                            }
                        }
                    });
                    $(this).val("")
                }
            }
        });
    </script>
}
    <style>
        .table-bordered td, .table-bordered th {
            border: 1px solid #dee2e6;
            vertical-align: middle;
        }
    </style>
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    Check Pallet Software <small>Version 1.0</small>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item ">Bắt đầu kiểm tra</li>
                        <li class="breadcrumb-item ">Bước 1</li>
                        <li class="breadcrumb-item active">Bước 2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <form id="check" class="form-horizontal">
                        <div id="thenhapdulieu" class="card bg-gradient-purple shadow">
                            <div class="card-header">
                                <h3 class="card-title"> <small>Bước</small>  <i class="fa-solid fa-2"></i></h3>
                            @if (ViewBag.trangthaichecklai != null)
                            {
                                <span style="float:right; font-size:large;color:red" class=" badge badge-dark"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Recheck</span>
                            }
                        </div>
                        <div class="card-body">
                            <div class="form-group row hienthi" style="text-align: center;">
                                <label id="labelmabody" class="col-sm-5 col-form-label">Mã body thùng</label>
                                <input id="sobody" name="sobody" type="text" class="form-control col-sm-6" autocomplete="off" autofocus>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-sm-6" style="margin-top:15px">
                <div id="thongbao" class="small-box bg-gradient-warning shadow">
                    <div class="inner">
                        <h3 id="checkok"></h3>
                        <p>Số thùng đã kiểm tra</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" style="margin-top:14px">
                <div class="info-box ">
                    <div class="info-box-content">
                        <span class="info-box-number text-center  mb-0">
                            <small>Tên model:</small> <a>@ten_model</a>
                        </span>
                        <span class="info-box-number text-center  mb-0">
                            <small>Thị trường:</small> @thitruong_hienthi
                        </span>
                        <span class="info-box-number text-center  mb-0">
                            <small> Mã pallet:</small> @mapallet__hienthi
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card  ">
                    <div class="card-header">
                        <h3 class="card-title"> <i class="fa fa-level-down" aria-hidden="true"></i> Danh sách mã body thùng cần kiểm tra</h3>
                        @*                            <h3 class="card-title"> Merchandide: <b>@TempData["thitruong"]</b>  - Number pallet: <b>@TempData["sopallet"]</b>   </h3>
                        *@
                    </div>
                    <div class="card-body">
                        <table id="tableData" class="table table-bordered bg-white" style="text-align:center">
                            <tbody>
                                @foreach (var i in (List<danhsachbody>)ViewBag.ds)
                                {
                                    <tr>
                                        <form id="@i.bodydb" asp-controller="Home" asp-action="Luudulieu" method="post">
                                        <td class="col-2">@i.bodydb</td>
                                        <td>
                                            <input asp-for="bodycheck" style="text-align:center" class="form-control" id="@i.bodydb" readonly="true" placeholder="chưa kiểm tra" />
                                        </td>
                                        </form>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-ng" style="margin-top:20%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content  bg-danger" style="text-align:center">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"> </i> Cảnh báo</h4>
            </div>
            <div class="modal-body">
                <h1>THIẾU PALLET <br /> <small>  Kiểm tra và thao tác lại </small>  </h1>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"> </i> Đóng </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-ok" style="margin-top:20%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content  bg-success" style="text-align:center">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"> </i> Thông báo <small> (Đóng sau <a id="countdown"></a> giây) </small>   </h4>
            </div>
            <div class="modal-body">
                <h1>THÀNH CÔNG</h1>
                <br />
                <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
                <br />
                <small>Đang lưu dữ liệu vào máy chủ...</small>
                <br />

            </div>
        </div>
    </div>
</div>

