@model IEnumerable<pdc.Models.Lichsu.User>

@{
    ViewData["Active"] = "dropdownSubMenu1";

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                Check Pallet Software <small>Version 1.0</small>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Quản lý</li>
                    <li class="breadcrumb-item active">Danh sách tài khoản</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content">
    <div class="container">
        <table class="table table-striped" style="text-align:center">
            <thead>
                <tr st>
                    <th>
                        Mã nhân viên
                    </th>
                    <th>
                        Mật khẩu
                    </th>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Bộ phận
                    </th>
                    <th>
                        Ca làm việc
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Hoten == "Administrator")
                    {
                        
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hoten)
                            </td>
                            <td>
                                @if (String.IsNullOrEmpty(item.Bophan))
                                {
                                    <button class="btn btn-default btn-sm" disabled><i class="fa fa-ban"> </i> </button>
                                }
                                else
                                {
                                    @item.Bophan
                                }
                            </td>
                            <td>
                                @if (String.IsNullOrEmpty(item.Calamviec))
                                {
                                    <button class="btn btn-default btn-sm" disabled><i class="fa fa-ban"> </i> </button>
                                }
                                else
                                {
                                    @item.Calamviec
                                }
                            </td>
                            <td>
                                <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"> </i> Sửa</a> |
                                <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"> </i> Xoá</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

